@font-face {
    font-family: 'MankSans-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('MankSans-Medium'), url('../fonts/MankSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'MankSans';
    font-style: normal;
    font-weight: normal;
    src: local('MankSans'), url('../fonts/MankSans.woff') format('woff');
}

@font-face {
    font-family: 'MankSans-MediumOblique';
    font-style: normal;
    font-weight: normal;
    src: local('MankSans-MediumOblique'), url('../fonts/MankSans-MediumOblique.woff') format('woff');
}

@font-face {
    font-family: 'MankSans-Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('MankSans-Oblique'), url('../fonts/MankSans-Oblique.woff') format('woff');
}

@font-face {
    font-family: 'aller-bold';
    src: url('../fonts/Aller_Bd-webfont.eot');
    src: url('../fonts/Aller_Bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller_Bd-webfont.woff2') format('woff2'),
    url('../fonts/Aller_Bd-webfont.woff') format('woff'),
    url('../fonts/Aller_Bd-webfont.ttf') format('truetype'),
    url('../fonts/Aller_Bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aller-light';
    src: url('../fonts/Aller_Lt-webfont.eot');
    src: url('../fonts/Aller_Lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller_Lt-webfont.woff2') format('woff2'),
    url('../fonts/Aller_Lt-webfont.woff') format('woff'),
    url('../fonts/Aller_Lt-webfont.ttf') format('truetype'),
    url('../fonts/Aller_Lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller-book';
    src: url('../fonts/Aller_Rg-webfont.eot');
    src: url('../fonts/Aller_Rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller_Rg-webfont.woff2') format('woff2'),
    url('../fonts/Aller_Rg-webfont.woff') format('woff'),
    url('../fonts/Aller_Rg-webfont.ttf') format('truetype'),
    url('../fonts/Aller_Rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

*:focus {
    outline: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

body {
    background: url("../images/extravaganza/bg-rojo.jpg") repeat;
    color: #FFFFFF;
    font-family: 'aller-light';
    font-size: 16px;
}

body, h2, h3, h4, p {
    font-weight: 300
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

main {
    max-width: 100%;
}

/*======================
Header
=======================*/
.Header {
    text-align: center;
    position: relative;
    max-width: 1080px;
}
.Header-content{
    width: 100%;
    height: 81px;
    box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.59);
    z-index: 1;
    background-color: white;
    position: relative;
    display: none;
}
.Header-logo {
    background: white;
    left: 0;
    padding: .5rem 2.5rem;
    position: absolute;
    top: -35px;
    width: 220px;
}

.Header-nav {
    margin: 2.2rem 0;
    padding-left: 220px;

    transition: all .5s ;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;
}

.Header-nav li {
    border-left: 1px solid white;
    display: inline-block;
    font-size: 0.9rem;
    vertical-align: middle;
    width: 180px;
}

.Header-nav li:first-child {
    border-left: none
}

.Header-nav li:nth-child(3) {
    width: 225px;
}
.button-nav{
    display: none;
    position: absolute;
    right: 0;
    z-index: 10000;
    width: 40px;
    border-left: 2px solid #C33733;
    top: 20px;
    box-sizing: content-box;
    padding: 0 10px;
    cursor: pointer;
}
.button-nav span {
    background: #C33733;
    display: block;
    margin: 10px 0;
    height: 2px;
    width: 100%;

}
/*======================
Welcome
=======================*/

.Welcome {
    text-align: center;
}

.Welcome-h1 {
    font-size: 3.5rem;
    margin: 2rem 0;
    font-family: 'MankSans';
}

.Welcome-h1 b {
    display: block;
    font-family: 'aller-bold';
    font-size: 1.05em;
    line-height: 1.5rem;
}

.Welcome-figure {
    font-size: 3.5rem;
    margin: 3rem auto 1rem;
    position: relative;
    max-width: 725px;
}

.Welcome-count {
    background: url("../images/extravaganza/img-engrane-negro.svg") no-repeat;
    background-size: 180px;
    font-family: 'MankSans-Medium';
    font-size: 2rem;
    padding: 22px;
    position: absolute;
    right: -50px;
    top: 105px;
    width: 180px;
}

.Welcome-count span {
    display: block;
    font-family: 'aller-bold';
    font-size: 5rem;
    line-height: 0;
    margin: 16px 0 38px;
}

.Welcome-p {
    font-family: 'MankSans-Medium';
    font-size: 2.25rem;
    line-height: 1em;
    max-width: 1080px;
    margin-bottom: 3rem;
}

/*======================
Register
=======================*/
.Register {
    background-image: url("../images/extravaganza/bg-blanco.jpg");
    color: black;
    padding: 65px 0;
}

.Register-form {
    background: #E8212D;
    border-radius: 1rem;
    color: #FFFFFF;
    max-width: 600px;
    padding: 20px;
    position: relative;
    width: 96%;
}

.error {
    display: none;
}

.Register input, .Register button {
    margin: 5px 0;
    height: 50px;
    border: hidden;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.Register input::-webkit-input-placeholder {
    color: black;
    text-align: center;
}

.Register input:-moz-placeholder {
    color: black;
    text-align: center;
}

.Register-title {
    line-height: 3rem;
    max-width: 505px;
}

.Register button {
    background: black;
    color: #FFFFFF;
    font-weight: bold;
}

.DonJediondo {
    max-width: 155px;
    left: -165px;
    position: absolute;
    top: -160px;
}

.Register-h2 {
    font-size: 2.7rem;
    width: 400px;
    text-align: left;
    line-height: 1.1em;
    display: inline-block;
    vertical-align: top;

}

.Register-h2 b {
    display: block;
    font-size: 1.2em;
}

.Identification {
    display: inline-block;
    max-width: 100px;
}

.Register-p {
    font-family: 'MankSans-Medium';
    font-size: 1.9rem;
    margin: 10px 0;
    text-align: center;
}


/*======================
Discovery
=======================*/
.Discovery {
    background: url("../images/extravaganza/img-parque-rojo.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.Discovery-content {
    background: url("../images/extravaganza/img-contenedor.svg") no-repeat;
    background-size: 100%;
    height: 340px;
    position: relative;
    top: calc(50vh - 180px);
    max-width: 800px;

}

.Discovery-h4 {
    color: black;
    font-size: 1.55rem;
    padding: 90px 0 0;
    text-align: center;
    max-width: 500px;
}

.Discovery-h4 b {
    font-size: 1.1em;
}

.Discovery-h3 {
    margin: 50px 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

/*======================
zone
=======================*/
.Zone {
    max-width: 1080px;
    position: relative;
    top: calc(50vh - 310px);
}

.Zone-figure, .Zone-list {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 58%;
}

.Zone-list {
    width: 41%;
    position: relative;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.Zone-list p {
    margin-bottom: 10px;
}

.Zone-list .open h2 {

    font-size: 1.6rem;
    line-height: 1.2em;
    padding: 12px 0 15px;
    text-align: left;
}
.Zone-list h2 {
    font-size: 1.3rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.Zone-list .open b {
    font-size: 1.25em;
    display: block;
}

.Zone-list li {
    border-top: 1px solid;
    padding: 10px 0;
    cursor: pointer;
}

.Zone-list li:last-child {
    border-bottom: 1px solid;
}

.Zone-list p {
    font-size: .85rem;
}

/*======================
NeedKnow
=======================*/
.NeedKnow {
    max-width: 1080px;
    margin: auto;
    color: #000;
}

.NeedKnow-articleContent h2 {
    padding: 25px 0;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'aller-bold'


}

.NeedKnow-articleContent p {

    font-size: .84rem;
    max-width: 400px;
    line-height: 1.35em;
}

.NeedKnow-articleContent h2 span {
    max-width: 78px;
    display: inline-block;
    vertical-align: middle;
}

.NeedKnow-content {
    max-width: 90%;
    height: 460px;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: calc(50vh - 280px);

}

.NeedKnow-content, .NeedKnow-nav {
    display: inline-block;
    vertical-align: top;
}

.NeedKnow-nav {
    border: 1px solid white;
    padding: 20px 10px;
    width: 80px;
    position: relative;
    top: calc(50vh - 290px);
    left: 15px;
}

.NeedKnow-nav li {
    cursor: pointer;
}

.NeedKnow-nav span {
    max-width: 10px;
}

.NeedKnow-figure {
    background: url("../images/extravaganza/stand.jpg") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 43%;
    height: 100%;
}

.NeedKnow-figure, .NeedKnow-articleContent {
    display: inline-block;
    vertical-align: top;
}

.NeedKnow-articleContent {
    background: white;
    margin-left: -4px;
    height: 100%;
    width: 52%;

}
.NeedKnow-dates{
    position: absolute;
    right: -39%;
    top: 0;
    width: 44%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid;
}
.NeedKnow-dates h2{
    text-align: center;
    font-size: 1.2rem;
    padding: 6px;
    font-family: 'aller-bold';
}
.NeedKnow-dates table{
    background: #E02726;
    color: white;
    font-size: .9rem;
    border-collapse: collapse;
    height: 187px;

}
.NeedKnow-dates thead{
    text-align: center;
    font-family: 'aller-bold';

}
.NeedKnow-dates tbody tr{
    border-top: 1pt solid white;

}
.NeedKnow-dates table tr td:first-child{
    width: 44%;

}
.NeedKnow-articles{
    position: relative;

    transition: all .5s ;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;
}
.NeedKnow-dates table td{
    padding: 5px;
    border-top: 1pt solid white;
}
.NeedKnow-article {
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.NeedKnow-button {
    position: absolute;
    height: 600px;
    width: 50px;
    top: 0;
    right: 0;
    border: none;
    border-left: 1px solid black;
    background-color: white;
    cursor: pointer;

}

.rotate {
    transform: rotate(-90deg);
    display: block;
    color: black;
    /* height: 200px; */
    position: absolute;
    left: -90px;
    width: 225px;
    top: 240px;
}
.play-content{
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    width: 30px;
    height: 30px;
    top: 125px;

}
.play{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 14px solid #000;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 6px;
    left: 8px;
    transition: all .5s ;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;

}
/*======================
GetCard
=======================*/
.GetCard {
    max-width: 900px;
    color: white;
    font-family: 'MankSans';
    margin: 100px auto;
}

.GetCard h1 {
    text-align: center;
    font-size: 3.2rem;
    line-height: 1.2em;
}

.GetCard h1 b {
    font-family: 'aller-bold';
    font-size: 1.1em;
    display: block;
}

.GetCard h2 {
    font-size: 2.4rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    margin: 40px 0 0;
    padding: 6px 0;
}

.GetCard h2 span {
    font-family: 'aller-bold';
}

.GetCard h3 {
    font-size: 2.4rem;
    line-height: 1em;
    margin: 50px 0 30px;
}

.GetCard h3 b {

    font-family: 'aller-bold';
    font-size: 1.05em;
    display: block;
}

.GetCard p {
    font-size: 1.4rem;
    margin: 30px 0px;
    text-align: justify;
}

.GetCard-article {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.GetCard-article p {
    font-size: 1rem;
    padding: 15px 0 15px;
    border-bottom: 1px solid;
    margin: 0;

}

.GetCard-article p:last-child {
    border-bottom: none;
}

.GetCard-article div {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    padding-right: 20px;
}

.GetCard-article div:last-child {
    border-left: 1px solid;
    width: 37%;
    padding-right: 0;
    font-family: 'aller-light';
}
.GetCard h4{
    border-bottom: 1px solid;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}
.GetCard h5,.GetCard ul{
    width: calc(100% - 30px);
    margin: 10px 30px;
}
.GetCard ul li{
    font-size: .9rem;
}
.GetCard ul {
    padding: 7px 0 10px;
}
.GetCard h5{
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1em;
}
.GetCard h5 b{
    font-family: 'aller-bold';
    display: block;
}
.borderB{
    border-bottom: 1px solid;
}
/*======================
Footer
=======================*/
.Footer {
    background: white;
    color: #000;
}
.Footer-sponsors{
    text-align: center;
    max-width: 90%;
    margin: auto;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.Footer-sponsors li{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    padding: 26px;

}
.Footer-sponsors li.poli{
    width: 150px;
}
.Footer h5{
    font-family: 'MankSans';
    font-size: 2rem;
    text-align: center;
    padding: 12px 0;
}
.Footer-sponsors-p{
    width: 90%;
    max-width: 50%;
    margin: 0 5%;
    padding: 50px 0 25px;
}
.logo-makro{
    position: absolute;
    width: 200px;
    right: 5%;
    bottom: 0;
}
.relative{
    position: relative;
}
/*======================
MediaQueries
=======================*/

@media (max-width: 1000px) {
    .Header{
        background-color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
        height: 81px;
    }
    .Header-nav{
        background: #E02726;
        margin:  0;
        position: absolute;
        padding: 0;
        top: -130px;
        z-index: 1;
    }
    .Header-nav li{
        border: none;
        width: 100%;
        padding: 15px;
        font-size: 1.2rem;
    }
    .Header-nav li:nth-child(3) {
        width: 100%;
    }
    .Header-nav li:nth-child(even) {
        background: rgba(0, 0, 0, 0.10);
    }
    .Header-logo{
        top: 0;
        z-index: 10;
    }
    .button-nav{
        display: block;
    }
    .Header-content{
        display: block;
    }
    .Header-nav.open{
        transform: translateY(210px);
        -webkit-transform: translateY(210px);
        -moz-transform: translateY(210px);
    }
    .Footer-sponsors li.poli {
        width: 24vw;
    }
    .Footer-sponsors li {

        width: 30vw;
        padding: 15px;
    }

}
.NeedKnow-nav h2,.NeedKnow-ul span{
    display: none;
}
@media (max-width: 800px) {
    .NeedKnow-articles{
        position: relative;

        transition: all .5s ;
        -webkit-transition: all .5s ;
        -moz-transition: all .5s ;
    }
    .NeedKnow-articleContent p {
        text-align: justify;
        max-width: 90%;
        overflow-y: scroll;
        height: 40vh;
    }
    .NeedKnow-dates{
        right: -44%;
    }
    .NeedKnow-articleContent h2 span{
        max-width: 30px;
    }
    .NeedKnow-articleContent h2 {
        font-size: 4vh;
        padding: 10px 0;
    }
    .NeedKnow-articleContent{
        margin: 0;
    }
    .NeedKnow-articleContent button{
        display: none;
    }
    .NeedKnow-figure, .NeedKnow-articleContent {
        display: block;
        width: 100%;
        height: 30%;
    }
    .NeedKnow-articleContent {
        display: block;
        width: 100%;
        height: 70%;
    }
    .NeedKnow-button{
        display: none;
    }
    .Register-h2{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        line-height: 1.1em;
    }
    .NeedKnow-nav h2{
        color: white;
        font-size: 5vw;
        display: block;
        padding: 20px 0;
        line-height: 1em;
    }
    .NeedKnow-nav h2 b{
        font-family: 'aller-bold';
        font-size: 1.2em;
    }
    .NeedKnow-content{
        position: fixed;
        top: 81px;
        max-width: 100vw;
        height: calc(100vh - 81px);
        left: 0px;
    }
    .NeedKnow-nav {
        position: static;
        border: none;
        width: 100%;
        text-align: center;
    }
    .Welcome-h1 {
        font-size: 2rem;
    }
    .Welcome-count {
        background-size: 120px;
        font-size: 1rem;
        position: relative;
        top: -50px;
        width: 120px;
        height: 120px;
        right: 0;
        padding: 26px;
    }

    .Welcome-p {
        font-size: 1.1rem;
        line-height: 1.2em;
        margin: -40px 0 20px;
        padding: 0 10px;
    }
    .Welcome-count span {
        font-size: 2rem;
        line-height: 0;
        margin: 9px 0 18px;
    }

    .Identification {
        display: block;
    }
    .DonJediondo{
        display: none;
    }
    .Register {
        padding: 25px 0;
    }
    .Discovery-h4 {
        font-size: 2.5vw;
        padding: 11.7vw 0 0 20px;
    }
    .Discovery-h3 {
        margin: 8vw 0;
        font-size: 6vw;
    }
    .Discovery-content {
        top: 30vh;
    }
    .relative{
        height: 45vw;
    }
    .logo-makro{
        width: 30vw;
    }
    .Footer-sponsors-p{
        display: none;
    }
    .Zone-figure{
        margin-top: 20px
    }

    .Zone-figure, .Zone-list {
        display: block;
        width: 100%;
    }
    .Zone-list h2{
        font-size: 4vw ;
    }
    .Zone-list li.open h2{
        font-size: 6vw ;
    }
    .GetCard{
        margin: 20px auto;
        padding: 3vh;
    }
    .GetCard h1, .GetCard h4{
        font-size: 5vw;
    }
    .GetCard h2{
        margin: 30px 0 0;
        font-size: 5vw;
    }
    .GetCard h3{
        font-size: 6vw;
        margin: 30px 0 20px;
    }
    .GetCard h5{
        font-size: 4.5vw;
    }
    .GetCard p{
        font-size: 4vw;
        text-align: left;
    }
    .GetCard-article div {
        width: 100%;
        padding-right: 0;
    }
    .GetCard-article div:last-child{
        width: 100%;
        border: 1px solid;
    }
    .GetCard-article{
        border: none;
    }
    .GetCard ul {
        width: calc(100% - 60px);
    }
    .NeedKnow-nav li {
        display: inline-block;
        width: 20vw;
        margin: 15px;
        vertical-align: top;
    }
    .NeedKnow-ul span{
        display: inline;
        font-family: 'aller-bold';
        color: white;
        font-size: 3vw;
        line-height: 1em;
    }
    .NeedKnow-articleContent button{
        display: block;
        max-width: 100px;
        padding: 10px;
        border: none;
        background: black;
        color: white;
        margin: 10px;
    }

}
.translate{
    transform: translateX(-43%);
}
.play.rotate{
    transform: rotate(540deg) translateX(5px);
}
